
.box1{
    background-color: rgba(8, 8, 8, 0.795);
    color: white;
    padding: 10px;

}

.box2{
    background-color: black;
    color: whitesmoke;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 130%;
}

.box3{
    background-color: white;
    height: 900px;
    margin: 70px;
    margin-top: 20px;
    padding: 50px;
    color: gray;
}

.box4{
    background-color: black;
    height: 360px;
    margin-bottom: 20px;
}

.box5{
    background-color: lightgray;
    color: gray;
    padding: 5px;
    
}

.Col{
    float: left;
    height: 315px;
    margin-right: 80px;
}

.box6{
    height: 315px;
    margin-right: 55px;
    width: 200px;
    background-color: black;
}

/* .leftSide{
    float: left;
}

.rightSide{
    float: right;
} */



